# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Static files
staticfiles/
node_modules/
dist/

# Media files
media/

# Virtual environment
venv/
.env
.venv/

# IDE specific files
.vscode/
.idea/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# Windows
Thumbs.db
